.Admin {
    display: flex;
    height: 100%;
}

.Admin ul {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Admin h1 {
    text-align: center;
}

.Admin .content {
    padding: 25px;
    background-color: #F3F3F1;
    flex: 1;
    margin: 0;
}
